$base-url:'https://s4.ax1x.com/';


.characteristic-right {
  width: 14rpx;
  height: 16rpx;
  background-image: url('https://dailydev.oss-cn-chengdu.aliyuncs.com/416/wxapp/characteristicSpecialty/right.png');
}
